ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    font-family: Arial;
}


.list span {
  cursor: pointer;
}

.parent > .hide::before {
  content: "+ ";
}

.parent > .show::before {
  content: "- ";
}