ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    font-family: Arial;
    line-height: 20px;
    color: #4f5258;
}


.list span {
  cursor: pointer;
}

.parent > .hide::before {
  content: url('./arrow.svg');
  margin-right: 5px;
  
}

.parent > .show::before {
  content: url('./arrow.svg');
  display: inline-block;
  transform: rotate(90deg);
  margin-right: 5px;
}